* {
    background: #F0F0F0;
}

#code{
    font-family: 'Abel', sans-serif;
}
#skills-row-left{
    background: #E6563B;
}

#round-logo {
    height: 105px;
    width: 105px;
}

#headline {
    font-family: 'Anton';
    margin-top: 50px;
}

#park-header {
    font-family: 'Anton', sans-serif;
    margin: 50px 0;
}
.DDSH{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Anton', sans-serif;
}
.balls{
    padding: 18px;
    border: 3px white solid;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}


.color1{
    background: #E6563B;
}
.color2{
    background: #EB9D3A;
}
.color3{
    background: #7CB06C
}
.color4{
    background: #00ABA9;
}

.big-balls {
    border-radius: 50%;
    height: 105px;
    width: 105px;
    border: 8px solid white;
    color: white;
    font-family: 'Anton', sans-serif;
    margin: 10px 0;
}

#design-ball {
    background: #E6563B;
}

#develop-ball {
    background: #EB9D3A;
}

#support-ball {
    background: #7CB06C;
}

#host-ball {
    background: #00ABA9;
}


/*#featured-header {*/
/*    font-size: 1em;*/
/*    font-family: 'Abel';*/
/*    margin: auto;*/
/*}*/

#selected-header {
    font-size: 1em;
    font-family: 'Abel';
    margin-top: 100px;
    margin-bottom: 40px;
}

/*#h1#selected-header {*/
/*    margin-top: 20px;*/
/*    font-family: 'Abel';*/
/*}*/

/*h4#park-header {*/
/*    margin-bottom: 2em;*/
/*}*/

/*.small-balls {*/
/*    margin: 5px 0px;*/
/*    padding: 15px;*/
/*    !*border: 3px lightgrey solid;*!*/
/*    border-radius: 50%;*/
/*    height: 10px;*/
/*    width: 10px;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-around;*/
/*    align-items: center;*/
/*}*/

.card-img-top {
    border: 12px solid #E6E6E6;
    /*margin: 12px;*/
}

/*div.col-12.text-center {*/
/*    background: #f0f0f0;*/
/*}*/

.featured {
    display: flex;
    align-items: center;
    font-family: 'Abel', sans-serif;
}

.bring-the-balls-forward {
    z-index: 1;
}

div.col-4.d-none.d-md-block {
    padding: 20px;
    background: #F0F0F0;
}

div.card.mb-3 {
    border: none;
}

div.card-body.text-left {
    border: none;
}

h5.card-title {
    font-family: 'Anton';
}

nav.navbar.d-block.d-sm-none {
    /*display: flex;*/
    /*flex-direction: row;*/
}

a.nav-item.nav-link {
    color: black;
    font-family: 'Abel';
    display: inline-flex;
    flex-direction: row;
    padding: 5px;
}

div.col-4.d-none.d-md-block {
    border: 1px solid #F0F0F0;
}

.nav-bg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: white;
    margin: 15px 0 12px 0;
    height: 60px;
    width: 100%;
    font-family: 'Abel', sans-serif;
}


/*#security-image {*/
/*    height: 293px;*/
/*}*/